main .nameAndPhoto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
    background-image: url("./../../img/backgraound.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  main .nameAndPhoto .nameDescription {
    padding-top: 20px;
  }
  main .nameAndPhoto .nameDescription h1 {
    font-size: 50px;
    font-weight: 700;
  }
  main .nameAndPhoto .nameDescription h2 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  main .nameAndPhoto .nameDescription ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 20px;
  }
  main .nameAndPhoto .nameDescription ul li {
    margin-right: 18px;
  }
  main .nameAndPhoto .nameDescription ul li a i {
    font-size: 35px;
    margin-left: 0.5rem;
    color: var(--orange);
    transition: .2s;
  }
  main .nameAndPhoto .nameDescription ul li a i:hover {
    transform: translateY(-5px);
    color: var(--secondary-blue);
    transition: .5s;
    text-shadow: 0 0 20px var(--secondary-blue);
  }
  /* Button--------------------------------------------------------- */
  main .nameAndPhoto .nameDescription button {
    padding: 1em 2.5em;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  } 
  main .nameAndPhoto .nameDescription button:hover {
    background-color: var(--secondary-blue);
    box-shadow: 0px 15px 20px rgba(91, 176, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
  } 
  main .nameAndPhoto .nameDescription button:active {
    transform: translateY(-1px);
  }
  /* --------------------------------------------------------- */
  main .nameAndPhoto .photo img {
    width: 300px;
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,0) 23%,  rgba(252,252,252,0.0984768907563025) 55%, rgba(36,36,36,1) 81%);
    border-radius: 45%;
  }
  @media (max-width: 700px) {
    main .nameAndPhoto{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    main .nameAndPhoto .nameDescription {
      width: 100%; 
        text-align: center;
        background: rgb(252,252,252);
        background: linear-gradient(180deg, rgba(252,252,252,0) 23%,  rgba(252,252,252,0.0984768907563025) 55%, rgba(36,36,36,1) 81%);
        /* border-radius: 49% 51% 91% 9% / 100% 100% 0% 0% ; */
    }
    main .nameAndPhoto .nameDescription ul li {
        margin: 0 auto;
    }
  }