:root {
/* Colores */
--color-one: #323647;
--color-thoo: #242734;
--just-white: #fff;
--secondary-blue: #5BB0FF;
--orange: #FF9300;
--green: #49FF00;
--soft-blue: #b6e4ff;
--color-img: #242424;
--warm-black: #201E1C;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--just-white);
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--warm-black);
}
body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    border-right: 2px solid var(--warm-black);
}